<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kcttwarehousemobilesystem">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KCTTWarehouseMobileSystem">
        <activity android:name=".Reset"></activity>
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".WarehouseMap" />
        <activity
            android:name=".PlaceToRackScanner"
            android:parentActivityName=".MaterialDetails" />
        <activity
            android:name=".MaterialDetails"
            android:parentActivityName=".ReceiveMaterialsScanner" />
        <activity
            android:name=".ReceiveMaterialsScanner"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainMaterialList" />
        <activity android:name=".MainMaterialAct" />
        <activity
            android:name=".Homepage"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Report"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>